.advertising{
    position: relative;
    width: 350px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    transition: all 1s ease;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 1;
        transition: all 1s ease;
    }
}

.mask-disappearance::after{
    background: rgba(0, 0, 0, 0);
}

.mask-disappearance-index::after{
    z-index: -1;
}

.mask-appearance::after{
    background: rgba(0, 0, 0, .5);
}

.mask-appearance-index::after{
    z-index: 0;
}

.background-animation{
    filter: blur(0);
}

.background-animation-end{
    filter: blur(4);
}